<h1>Listing devices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <%
           @PuntosCada = GpsPoint.where('device_id=?',device.id).where("id mod 10 =?",0).order("created_at desc").limit(50000).map { |i| [i[:latitude], i[:longitude]] }

              a=Polylines::Encoder.encode_points(@PuntosCada)

        %>
        <td> <img src="http://maps.googleapis.com/maps/api/staticmap?sensor=true&size=1000x1000&path=weight:3%7Ccolor:0x0000ff%7Cenc:<%=a%>"> </td>



      </tr>
    <% end %>
  </tbody>
</table>

<br>

